[flake8]
ignore = E203, E266, E501, W503, F403, F401
max-line-length = 88
per-file-ignore = __init__.py: F401
exclude =
    migrations
    __pycache__
    manage.py
    settings.py
    venv
    env
    .env